{% extends "emails/base_email.html" %}
{% block content %}
<p style="margin:0 0 16px;">Hi {{ first_name|default:"there" }},</p>
<p style="margin:0 0 16px;">
  We received a request to reset the password for your SilverLake Car Rentals account. Click the button
  below to choose a new one.
</p>
{% include "emails/_button.html" with url=reset_url label="Reset My Password" %}
<p style="margin:16px 0 0; font-size:13px; color:#64748b;">
  Or copy and paste this link into your browser:<br>
  <a href="{{ reset_url }}" style="color:#1d4ed8; word-break:break-all;">{{ reset_url }}</a>
</p>
<p style="margin:20px 0 0; font-size:13px; color:#94a3b8;">
  If you didn't request this, you can safely ignore this email - your password won't change.
</p>
{% endblock %}
