{% extends "emails/base_email.html" %}
{% block content %}
<p style="margin:0 0 16px;">Hi {{ first_name|default:"there" }},</p>
<p style="margin:0 0 16px;">
  You now have access to the SilverLake Driver Portal, where you can mark yourself away/available
  and add new vehicles to your listing. Click below to set your password and log in.
</p>
{% include "emails/_button.html" with url=set_password_url label="Set My Password" %}
<p style="margin:16px 0 0; font-size:13px; color:#64748b;">
  Or copy and paste this link into your browser:<br>
  <a href="{{ set_password_url }}" style="color:#1d4ed8; word-break:break-all;">{{ set_password_url }}</a>
</p>
{% endblock %}
